<nav class="navbar-header">
  <a mat-button routerLink="/units">Unidades</a>
  <a mat-button class="navbar-hide-small"
     *ngFor="let unit of units"
     [routerLink]="'/units/' + unit.id">{{unit.title}}
  </a>
  <div class="flex-spacer"></div>
  <span *ngIf="isAnonymous">Visitante</span>
  <span *ngIf="isUser">Estudiante</span>
  <span *ngIf="isAdmin">Profesor</span>
  <mat-slide-toggle [(ngModel)]="checked" color="warn" (change)="toggle($event)">Logout</mat-slide-toggle>
</nav>
<nav class="navbar navbar-show-small">
  <a mat-button class="navbar-link"
     *ngFor="let unit of units"
     [routerLink]="'/units/' + unit.id">{{unit.title}}
  </a>
</nav>
