<mat-card cardWidth="75">
  <mat-card-title>VISTA</mat-card-title>
  <mat-card-content>

    <div layout-gt-sm="row" tdMediaToggle="gt-xs">
      <div flex-gt-sm="40">
        <mat-card>
          <mat-card-content>

            <mat-list>
              <mat-list-item *ngFor="let file of files">
                {{file.title}}
              </mat-list-item>
            </mat-list>


            <div align="center">
              <mat-form-field layout-padding="40px">
                <mat-label>UNIDAD</mat-label>
                <mat-select>
                  <mat-option *ngFor="let unit of units" [value]="unit">
                    {{unit}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field layout-padding="40px">
                <mat-label>UNIDAD</mat-label>
                <mat-select>
                  <mat-option *ngFor="let unit of units" [value]="unit">
                    {{unit}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <a mat-button color="accent" class="text-upper" (click)="addFileReference">
                <span>Añadir</span>
              </a>
            </div>

          </mat-card-content>

        </mat-card>
      </div>

      <div flex-gt-sm="60">
        <mat-card>
          <mat-card-title>HTML</mat-card-title>
          <mat-divider></mat-divider>
          <mat-card-content>
            HTML text
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </mat-card-content>

</mat-card>
