:root { 
    --bodyColor: #ffffff 
}

.card-nav-tabs .card-header {
    margin-top: 0 !important;
}

/* search bar styles */

.search-bar-centered{
    margin-top: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn-search-centered {
    position: absolute;
    top: -5px;
    right: -10px;
}

/* lists and sublists styles */

.u-list{
    list-style: none;
}

.u-list > li{
    display: flex;
    justify-content: space-between;
    border-style:solid;
    border-color: var(--bodyColor) ; 
    border-width:1px; 
    background-color: #00000003;
}

.first-menu-tab{
    display: flex;
    justify-content: space-between; 
}


/* responsive-table style fixes */
@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        min-height:100% !important;
        position: absolute !important;
        transform: translate3d(0px, 38px, 0px) !important;
        top: 0px !important;
        left: 0px !important;
        will-change: transform !important;
    }

    .table-responsive{
        overflow-y: visible !important;
        overflow-x: auto !important;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}

.margin-fixed{
    margin-right:15px;
}
