<td-search-box backIcon="arrow_back" placeholder="Search here" [(ngModel)]="searchInputTerm" [showUnderline]="true" [debounce]="500" [alwaysVisible]="true" (searchDebounce)="searchInputTerm = $event" (search)="searchInputTerm = $event" (clear)="searchInputTerm = ''" (blur)="onBlurEvent()">
</td-search-box>
<td-expansion-panel *ngFor="let unit of units" label="{{unit.title}}">
    <div class="md-padding">
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/units/' + unit.id + '/itineraries/' + itinerary.id" *ngFor="let itinerary of unit.itineraries | async"> {{itinerary.title}} </a>
        </mat-nav-list>
    </div>
</td-expansion-panel>