<td-search-box backIcon="arrow_back" placeholder="Search here" [(ngModel)]="searchInputTerm" [showUnderline]="true" [debounce]="500" [alwaysVisible]="true" (searchDebounce)="searchInputTerm = $event" (search)="searchInputTerm = $event" (clear)="searchInputTerm = ''" (blur)="onBlurEvent()">
</td-search-box>
<button mat-fab color="accent" class="mat-fab-bottom-right fixed z-3" (click)="createUnit()">
  <mat-icon>add</mat-icon>
</button>
<td-expansion-panel *ngFor="let unit of units" label="{{unit.title}}">
  <app-unit-fragment [unit]="unit" (delete)="deleteUnit(unit)"></app-unit-fragment>
</td-expansion-panel>
<router-outlet></router-outlet>
