.mat-icon-ux {
  width: 100px;
}

.icon {
  font-size: 48px;
}

.chart-height {
  height: 300px;
}

.mat-raised-button{
  color: #FFFFFF;
  background-color: #4CAF50;
}

.mat-button-toggle{
  color: #FFFFFF;
  background-color: #4CAF50;
}

button.mat-fab-bottom-right {
  bottom: 50px
}

