<td-search-box backIcon="arrow_back" placeholder="Search here" [(ngModel)]="searchInputTerm" [showUnderline]="true"
               [debounce]="500"
               [alwaysVisible]="true" (searchDebounce)="searchInputTerm = $event" (search)="searchInputTerm = $event"
               (clear)="searchInputTerm = ''"
               (blur)="onBlurEvent()">
</td-search-box>
<mat-card>
  <i class="material-icons">local_library</i>
  <mat-card>
    <mat-card-title>
      Unidades e itinerarios
    </mat-card-title>
    <mat-card *ngFor="let unit of units">
      Unit:
        <a [routerLink]="'/units/' + unit.id">{{unit.title}}</a>
      <mat-list *ngFor="let itinerary of unit.itineraries">
          <a [routerLink]="'/units/' + unit.id + '/itinerary/' + itinerary.id">{{itinerary.title}}</a>
      </mat-list>
    </mat-card>
  </mat-card>
</mat-card>
