<td-layout-card-over cardTitle="Login" cardSubtitle="Introduzca datos">
  <ng-template tdLoading="user.form">
    <mat-card-content class="push-bottom-none">
      <form #userForm="ngForm">
        <div layout="row">
          <mat-form-field flex>
            <input matInput #displayNameElement #displayNameControl="ngModel" type="text" placeholder="Username" [(ngModel)]="credential.username" name="username" required>
            <mat-hint align="start">
              <span [hidden]="displayNameControl.pristine" class="tc-red-600">
                <span [hidden]="!displayNameControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{displayNameElement.value.length}}</mat-hint>
          </mat-form-field>
        </div>
        <div layout="row" class="push-top">
          <mat-form-field flex>
            <input matInput #emailElement #emailControl="ngModel" type="password" placeholder="Password" [(ngModel)]="credential.password" name="password" required>
            <mat-hint align="start">
              <span [hidden]="emailControl.pristine" class="tc-red-600">
                <span [hidden]="!emailControl.hasError('required')">Required</span>
                <span [hidden]="!emailControl.hasError('pattern')">incorrect pattern</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{emailElement.value.length}}</mat-hint>
          </mat-form-field>
        </div>
        <div layout="row">
          <mat-slide-toggle [(ngModel)]="admin" name="admin">Admin</mat-slide-toggle>
        </div>
      </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button [disabled]="!userForm.form.valid" color="primary" (click)="login()">Login</button>
    </mat-card-actions>
  </ng-template>
</td-layout-card-over>
