<h1 mat-dialog-title>Editar ficha</h1>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <h1>Titulo</h1>
    <input #titl matInput [(ngModel)]="data.title" type='text'>
  </mat-form-field>
  <mat-form-field>
      <h1>Descripcion</h1>
      <input #desc matInput [(ngModel)]="data.description" type="text">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClickEdit()">Cancelar</button>
  <button mat-button (click)="editFile(titl.value, desc.value, data.file); titl.value=''; desc.value='' " >Editar</button>
</mat-dialog-actions>
