.signUp-card {
  max-width: 600px;
}


.header-image {
  background-image: url("../../assets/signUp.png");
  background-size: cover;
}

.signUp-panel{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.colored{*/
/*  background: #fdc830; !* fallback for old browsers *!*/
/*  background: -webkit-linear-gradient(to right, #fdc830, #f37335); !* Chrome 10-25, Safari 5.1-6 *!*/
/*  background: linear-gradient(to right, #fdc830, #f37335); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*}*/



.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
