<mat-card>

  <mat-card-title>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h3>{{itinerary.title}}</h3>

        <span flex></span>
        <mat-form-field>
          <mat-label>Unidades</mat-label>
          <mat-select (selectionChange)="updateItineraries($event.value)" [(ngModel)]="selectedUnit">
            <mat-option *ngFor="let unit of units" [value]="unit">
              {{unit.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Itinerario</mat-label>
          <mat-select (selectionChange)="select($event.value)">
            <mat-option *ngFor="let itinerary of itineraries" [value]="itinerary">
              {{itinerary.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="deleteSubItinerary()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-title>

  <mat-card-content>

    Ruben

    <div *ngFor="let item of items">
      soy item {{item.id}}
    </div>

  </mat-card-content>
</mat-card>
