<mat-card>

  <mat-card-title>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h3>{{itinerary.title}}</h3>
        <span flex></span>
        <button mat-icon-button (click)="deleteSubItinerary()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-title>

  <mat-card-content>
    <div>
      <mat-form-field layout-padding="40px">
        <mat-label>UNIDAD</mat-label>
        <mat-select>
          <mat-option *ngFor="let unit of units" [value]="unit">
            {{unit.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field layout-padding="40px">
        <mat-label>ITINERARIO</mat-label>
        <mat-select>
          <mat-option>
            {{itinerary.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
