<h1 mat-dialog-title>{{!data.file.id?'Crear ficha':'Editar ficha'}}</h1>
<mat-dialog-content class="mat-typography">
  <form #fileElement="ngForm">
    <div layout="row">
      <mat-form-field flex>
        <input matInput #titleElement #titleControl="ngModel" type="text" placeholder="Titulo" [(ngModel)]="data.file.title" name="title" required>
        <mat-hint align="start">
          <span [hidden]="titleControl.pristine" class="tc-red-600">
            <span [hidden]="!titleControl.hasError('required')">Required</span>
          </span>
        </mat-hint>
      </mat-form-field>
    </div>
    <div layout="row">
      <td-text-editor #descriptionElement [(ngModel)]="data.file.description" name="description"></td-text-editor>
    </div>
  </form>

  <mat-nav-list>
    <mat-list-item *ngFor="let image of images">
      <a matLine (click)="copy(image.self)">{{ image.id.filename }}</a>
      <button mat-icon-button (click)="deleteImage(image)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>

  <td-file-upload #fileUpload [(ngModel)]="file" defaultColor="accent" activeColor="warn" cancelColor="primary" (upload)="uploadEvent($event)" accept=".png,.jpg" *ngIf="data.file.id" [disabled]="disabled">
    <mat-icon>file_upload</mat-icon><span>{{ file?.name }}</span>
    <ng-template td-file-input-label>
      <mat-icon>attach_file</mat-icon>
      <span>
        Subir una imagen...
      </span>
    </ng-template>
  </td-file-upload>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button (click)="save()" type="submit" [disabled]="!fileElement.valid" color="accent">Guardar</button>
</mat-dialog-actions>
