<div class="tab-pane">
    <div class="container">
        <div class="row">
            {{#items}}
            {{^isItinerary}}
            {{>view}}
            {{/isItinerary}}
            {{/items}}

            {{#items}}
            {{#isItinerary}}
            {{>sub_itinerary}}
            {{/isItinerary}}
            {{/items}}
        </div>
        <div class="row" style="align-items: center">
            <div class="col-1 ml-auto">
                <div class="radio">
                    <label><input type="radio" name="type" checked value="view">Vista</label>
                </div>
            </div>
            <div class="col-2">
                <div class="radio">
                    <label><input type="radio" name="type" value="itinerary">Itinerario</label>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-fab  btn-fab-mini btn-round" onclick="if ($('input[name=type]:checked').val() === 'view') {addView({{id}}, '{{token}}') } else {addSubitinerary({{id}}, '{{token}}')}">
                    <i class="material-icons">add_circle</i></button>
            </div>
        </div>
    </div>
</div>