<nav class="navbar navbar-light bg-light justify-content-between" style="margin-bottom: 0%">
    <a class="navbar-brand">
        <div>
            {{#hasLogin}}
            {{#isAdmin}}
            Profesor
            {{/isAdmin}}
            {{^isAdmin}}
            Estudiante
            {{/isAdmin}}
            {{/hasLogin}}
            {{^hasLogin}}
            Visitante
            {{/hasLogin}}
        </div>
    </a>
    {{#hasLogin}}
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{token}}">
        <button type="submit" class="btn btn-danger pull-center margin-fixed">Logout</button>
    </form>
    {{/hasLogin}}
    {{^hasLogin}}
    <a href="/login" class="btn btn-danger pull-center margin-fixed">Login</a>
    {{/hasLogin}}
</nav>