<div class="card card-plain header-danger">
    <div class="navbar justify-content-end fixed-top ">
        <ul class="nav">
            <ul class="nav nav-pills nav-pills-primary " role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true">
                        SIGN IN
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                    </a>
                </li>
            </ul>
        </ul>
        </ul>
    </div>
</div>