<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Login</title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <!-- Material Dashboard CSS -->
    <link rel="stylesheet" href="/assets/css/material-dashboard.css">

</head>

<body>
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Welcome!</h4>
            </div>
            {{^login}}
            <div class="col-md-12">
                <a href="/signUp">
                    <button type="button" class="btn btn-primary pull-right">Registrar</button>
                </a>
            </div>
            {{/login}}
            {{#login}}
            <div class="col-md-12">
                <a href="/login">
                    <button type="button" class="btn btn-primary pull-right">Login</button>
                </a>
            </div>
            {{/login}}
            <div class="container-fluid col-md-5">
                <div class="col-md-12">
                    <div class="card col-md-10">
                        <div class="card-header card-header-primary">
                            {{^login}}
                            <h4 class="card-title"><i class="material-icons">person</i>Login</h4>
                            {{/login}}
                            {{#login}}
                            <h4 class="card-title"><i class="material-icons">person</i>Registrar</h4>
                            {{/login}}
                        </div>
                        <div class="card-body">
                            <form action="{{^login}}/login{{/login}}{{#login}}/signUp{{/login}}" method="POST" modelAttribute="user">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="bmd-label-floating" for="username">Nombre</label>
                                            <input type="text" class="form-control" name="username" id="username">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="bmd-label-floating" for="password">Contraseña</label>
                                            <input type="password" class="form-control" name="password" id="password">
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf" value="{{token}}">
                                {{^login}}
                                <button type="submit" class="btn btn-primary pull-center">Entrar</button>
                                {{/login}}
                                {{#login}}
                                <div class="row">
                                    <label><input type="radio" name="roles" value="admin">Profesor</label>
                                    <label><input type="radio" name="roles" value="user">Alumno</label>
                                </div>
                                <button type="submit" class="btn btn-primary pull-center">Registrar</button>
                                {{/login}}
                                {{#loginErrorMsg}}
                                <p class="p-2 mb-2 mt-3 bg-danger text-white">
                                    <span class=" px-1">
                                        <i class="material-icons">error</i>
                                    </span> <strong>ERROR: </strong> contraseña o usuario no válidos.
                                </p>
                                {{/loginErrorMsg}}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>