<div class="modal fade" id="new_form" tabindex="-1" role="dialog" aria-labelledby="new_form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear una nueva ficha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/api/forms" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id"/>
                    <div class="imageForm">
                        <div class="form-group">
                            <label for="itinerary_title">Título</label>
                            <input id="itinerary_title" name="title" type="text" class="form-control" placeholder="Introduzca un título">
                        </div>
                        <div class="form-group">
                            <label for="itinerary_description">Descripción</label>
                            <textarea class="form-control" id="itinerary_description" name="description" rows="15"></textarea>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="upload_image" name="upload_image" multiple>
                            <label class="custom-file-label" for="upload_image"></label>
                        </div>
                        <input type="hidden" name="_csrf" value="{{token}}">
                        <input type="hidden" name="unit" value="{{#unit}}{{id}}{{/unit}}">
                        <div id="preview" style="max-width:100%;max-height:100%;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>