<div class="modal fade" id="new_itinerary" tabindex="-1" role="dialog" aria-labelledby="new_itinerary" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear una nueva ficha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="itineraries">
                    <div class="form-group">
                        <label for="itinerary_title">Título</label>
                        <input id="itinerary_title" name="itinerary_title" type="text" class="form-control" placeholder="Introduzca un título">
                    </div>
                    <div class="form-group">
                        <label for="itinerary_description">Descripción</label>
                        <textarea class="form-control" id="itinerary_description" name="itinerary_description" rows="15"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>