<div class="modal fade" id="new_itinerary" tabindex="-1" role="dialog" aria-labelledby="new_itinerary" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear un nuevo itinerario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/itineraries" method="post">
                    <div class="form-group">
                        <label for="itinerary_title">Título</label>
                        <input id="itinerary_title" name="title" type="text" class="form-control" placeholder="Introduzca un título">
                    </div>
                    <input type="hidden" name="_csrf" value="{{token}}">
                    <input type="hidden" name="unit" id="new_itinerary_unit">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>