<div class="card">
    <div class="card-header card-header-text">
        <h4 class="card-title">Itinerio</h4>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button" id="dropdownMenuButton3"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        JavaScript
                    </button>
                    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton3">
                        <a class="dropdown-item" href="#">Tim Berners-Lee</a>
                        <a class="dropdown-item" href="#">CERN</a>
                        <a class="dropdown-item" href="#">Año 1989</a>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button" id="dropdownMenuButton4"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        Contexto
                    </button>
                    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton4">
                        <a class="dropdown-item" href="#">Resumen</a>
                        <a class="dropdown-item" href="#">Bibliografía</a>
                        <a class="dropdown-item" href="#">Introducción</a>
                    </div>
                </div>
            </div>
            <div class="col-1 ml-auto">
                <button type="button"
                        class="btn btn-fab  btn-fab-mini btn-round">
                    <i class="material-icons">delete</i></button>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-2">
                <div class="card">
                    hola
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    JavaScript-Contexto-¿Dónde?
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    JavaScript-Contexto-¿Quién?
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    JavaScript-Contexto-¿Por qué?
                </div>
            </div>
            <div class="col-1 ml-auto">
                <button type="button"
                        class="btn btn-fab  btn-fab-mini btn-round">
                    <i class="material-icons">chevron_right</i></button>
            </div>
        </div>
    </div>
</div>