<div class="tab-pane active px-3" id="unit{{id}}">
    <div class="card">
        <div class="card-header card-header-rose">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        {{^itinerary}}
                        <li class="nav-item"><a class="nav-link active" href="/home/{{unit.id}}">Fichas</a></li>
                        {{/itinerary}}
                        {{#itinerary}}
                        <li class="nav-item"><a class="nav-link" href="/home/{{unit.id}}">Fichas</a></li>
                        {{/itinerary}}
                        {{#unit.itineraries}}
                        <li class="nav-item"><a class="nav-link" href="/home/{{unit.id}}/{{id}}">{{title}}</a></li>
                        {{/unit.itineraries}}
                    </ul>
        </div>
        <div class="card-body">
            <div class="tab-content text-center">
                <div class="tab-pane active active px-1" id="${forms_id}">
                    <div class="container">
                        {{#itinerary}}
                        {{>itinerary}}
                        {{/itinerary}}
                        {{^itinerary}}
                        {{>forms}}
                        {{/itinerary}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>