<div class="card card-nav-tabs card-plain units-tabs">
    <div class="card-header card-header-danger">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs units-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#Units" data-toggle="tab">Unidades</a>
                    </li>
                    {{#units}}
                    <li class="nav-item"><a class="nav-link" href="#unit{{-index}}" data-toggle="tab">{{title}}</a></li>
                    {{/units}}
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class="tab-content">
            {{>units}}
        </div>
    </div>
</div>