<div class="tab-pane active" id="${unit_id}">
    <div class="card card-nav-tabs card-plain">
        <div class="card-header card-header-danger">
            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#${forms_id}"
                               data-toggle="tab">Fichas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content text-center">
                <div class="tab-pane active" id="${forms_id}">
                    <div class="container"></div>
                </div>
            </div>
        </div>
    </div>
</div>