<div class="row">
    <div class="col-6">
        <table class="table">
            <tbody>
            {{#itinerary.views}}
            <tr>
                <td class="text-center">${form_ref.unit}</td>
                <td class="text-center">${form_ref.form}</td>
                <td class="td-actions text-right">
                    <button type="button"
                            class="btn btn-fab btn-fab-mini btn-round">
                        <i class="material-icons">delete</i></button>
                </td>
            </tr>
            {{/itinerary.views}}
            <tr>
                <td class="text-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button" id="dropdownMenuButton1"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Buscar..
                        </button>
                        <div class="dropdown-menu"
                             aria-labelledby="dropdownMenuButton2">
                            <a class="dropdown-item" href="#">Años 1989</a>
                            <a class="dropdown-item" href="#">CERN</a>
                            <a class="dropdown-item" href="#">Tim Berners-Lee</a>
                            <a class="dropdown-item" href="#">JavaScript</a>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button" id="dropdownMenuButton2"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Buscar..
                        </button>
                        <div class="dropdown-menu"
                             aria-labelledby="dropdownMenuButton2">
                            <a class="dropdown-item" href="#">Evento</a>
                            <a class="dropdown-item" href="#">Logro</a>
                            <a class="dropdown-item" href="#">Dato</a>
                            <a class="dropdown-item" href="#">Cuándo</a>
                            <a class="dropdown-item" href="#">Dónde</a>
                            <a class="dropdown-item" href="#">Quién</a>
                            <a class="dropdown-item" href="#">Por qué</a>
                        </div>
                    </div>
                </td>
                <td class="td-actions text-right">
                    <button type="button"
                            class="btn btn-fab  btn-fab-mini btn-round">
                        <i class="material-icons">add_circle</i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header card-header-text">
                <h4 class="card-title">HTML</h4>
                <div class="card-body html-host"></div>
            </div>
        </div>
    </div>
</div>