<mat-card>

  <mat-card-header>
    <mat-card-title>{{itinerary?.title}}</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <ng-template tdLoading="items.list">
      <ng-template let-item let-last="last" ngFor [ngForOf]="items">
        <ng-container *ngIf="item.isItinerary; then subItinerary else view"></ng-container>
        <ng-template #subItinerary>
          <app-sub-itinerary [itinerary]="item" (delete)="deleteItem(item)">
          </app-sub-itinerary>
        </ng-template>
        <ng-template #view>
          <app-view [view]="item" (delete)="deleteItem(item)"></app-view>
        </ng-template>
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
      </ng-template>
    </ng-template>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions align="end">
    <mat-radio-group [(ngModel)]="option">
      <mat-radio-button [value]="1">Vista</mat-radio-button>
      <mat-radio-button [value]="2">Itinerario</mat-radio-button>
    </mat-radio-group>
    <button mat-button color="accent" (click)="create()">Añadir</button>
  </mat-card-actions>

</mat-card>
