<h1 mat-dialog-title>Ficha nueva</h1>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <h1>Titulo</h1>
    <input #titl placeholder="Titulo"type='text'>
  </mat-form-field>
  <mat-form-field>
    <h1>Descripcion</h1>
      <input #desc placeholder="Descripcion" type='text'>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="addFile(titl.value, desc.value, data.files, data.rest); titl.value=''; desc.value='' " >Añadir</button>
</mat-dialog-actions>
